---
import Icon from './Icon.astro';
import logo from '../images/logo.svg';
import Menu from '../components/Menu.astro';
---

<header class="header page__header">

    <div class="header__container">
        <a href="/" class="header__logo">
            <img src={logo}
                 width="80"
                 height="80"
                 alt="Home"/>
        </a>

        <h1 class="header__text">geometricpanda.dev</h1>

        <div class="header__utils">
            <button class="header__hamburger" data-menu-open aria-label="Open Site Navigation">
                <Icon name="menu" size="lg"/>
            </button>
        </div>
    </div>

</header>

<Menu/>

<script>

    import { disableBodyScroll, enableBodyScroll } from 'body-scroll-lock';

    const menu = document.querySelector('[data-menu]');
    const menuOpen = document.querySelector('[data-menu-open]');
    const menuClose = document.querySelector('[data-menu-close]');

    const showModal = () => {
        menu.showModal();
        disableBodyScroll(document.body)
        menuClose.focus();
    }

    const hideModal = () => {
        menu.close();
        enableBodyScroll(document.body)
        menuOpen.focus();
    }

    menu.addEventListener('close', hideModal);
    menuOpen.addEventListener('click', showModal);
    menuClose.addEventListener('click', hideModal);

</script>


<style>
.header {
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    border-top: 4px solid var(--color-primary-default);
    background-color: var(--color-primary-default);
    height: 70px;
    box-shadow: var(--elevation-high);
    z-index: 100;
}

.header:before {
    display: block;
    inset: 0;
    position: absolute;
    content: '';
    background-color: var(--color-primary-accent);
    -webkit-mask-image: url(../images/damask.svg);
    mask-image: url(../images/damask.svg);
}

.header:after {
    display: block;
    inset: 0;
    position: absolute;
    content: '';
    background: var(--gradient-primary-fade);
}

.header__container {
    margin: auto;
    position: relative;
    z-index: 1;
    padding-inline: 8px;
    display: flex;
    gap: 16px;
    align-items: center;
}

@media (min-width: 48em) {
    .header {
        border-top: 4px solid var(--color-primary-default);
        height: 74px;
    }

    .header__container {
        padding-inline: 16px;
        max-width: calc(768px);
    }
}

@media (min-width: 64em) {
    .header__container {
        max-width: calc(1024px);
    }
}

@media (min-width: 75em) {
    .header__container {
        max-width: calc(1200px);
    }
}

.header__logo {
    min-width: 80px;
}

.header__logo:focus {
    outline-offset: 2px;
    outline: var(--focus-outline);
    box-shadow: var(--focus);
}

.header__text {
    font-family: var(--type-font-family);
    font-size: var(--type-font-size-T400);
    line-height: var(--type-line-height-T400);
    font-weight: var(--type-font-weight-T400);
    color: var(--color-100);
    padding-bottom: 12px;
    flex-grow: 1;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.header__utils {
    width: 44px;
    padding-bottom: 12px;
}

.header__hamburger {
    background: none;
    border: none;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: var(--color-100);
}

.header__hamburger:focus {
    outline-offset: 2px;
    outline: var(--focus-outline);
    box-shadow: var(--focus);
}

</style>
